<!DOCTYPE html>
<html>
<head>
    <title>Update Movie EX07</title>
</head>
<body>
    <h1>EX007</h1>
    <form action="/ex07/update" method="post">
        {% csrf_token %}
       <div>
            <label for="title">Select Movie</label>
            <select name="title" id="title">
                {% for movie in movies %}
                    <option value="{{ movie.title }}">{{ movie.title }}</option>
                {% endfor %}
            </select>
       </div>
        <div>
            <label for="opening_crawl">Opening Crawl</label>
            <input name="opening_crawl" id="opening_crawl">
        </div>
        <input type="submit" name="update" value="Update">
    </form>
</body>
</html>